@media screen and (min-width: 768px) {
  .about-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .about-photo {
    width: 200px;
  }

  .about-text {
    flex: 1;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
