.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    border-bottom: 2px solid lightgrey;
}

.nav-links {
    display: flex;
    gap: 24px;
}